@model OnlineChatRoom.ViewModels.SystemMessageViewModel

<div class="text-center">
    <p class="system-message d-inline-block">@Model.Message</p>
    <p class="system-message d-inline-block">@Model.FormattedTimestamp</p>
</div>